src/main/resources/API_Formatting_Graphs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="definition"/>
        <xs:element ref="extendedMetadataVersion"/>
        <xs:element ref="first"/>
        <xs:element ref="isPartOf"/>
        <xs:element ref="items"/>
        <xs:element ref="itemsPerPage"/>
        <xs:element ref="page"/>
        <xs:element ref="startIndex"/>
        <xs:element ref="type"/>
      </xs:sequence>
      <xs:attribute name="format" use="required" type="xs:NCName"/>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
      <xs:attribute name="version" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extendedMetadataVersion">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="first">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="isPartOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="definition"/>
        <xs:element ref="hasPart"/>
        <xs:element ref="type"/>
      </xs:sequence>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPart">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="items" type="itemType"/>
  <xs:element name="itemsPerPage">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="datatype" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="page">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="datatype" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="startIndex">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="datatype" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="type" type="itemType"/>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element ref="item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="item">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="type"/>
        <xs:element ref="dct_created"/>
        <xs:element ref="dct_description"/>
        <xs:element ref="reference"/>
        <xs:element ref="uuid"/>
      </xs:choice>
      <xs:attribute name="datatype" type="xs:NCName"/>
      <xs:attribute name="href" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dct_created">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:dateTime">
          <xs:attribute name="datatype" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dct_description">
    <xs:complexType mixed="true">
      <xs:attribute name="datatype" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="reference" type="itemType"/>
  <xs:element name="uuid">
    <xs:complexType mixed="true">
      <xs:attribute name="datatype" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
