src/main/resources/API_Closure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns="http://nationalarchives.gov.uk/dri/closure"
    xmlns:c="http://nationalarchives.gov.uk/dri/closure"
    xmlns:api="http://nationalarchives.gov.uk/dri/catalogue/api"
    targetNamespace="http://nationalarchives.gov.uk/dri/closure">

    <xs:import namespace="http://nationalarchives.gov.uk/dri/catalogue/api"
        schemaLocation="API_common.xsd"/>

    <xs:element name="closures" type="closuresType">
        <xs:unique name="closureUUIDKey">
            <xs:selector xpath="c:closure"/>
            <xs:field xpath="c:uuid"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="closuresType">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="closure" maxOccurs="unbounded"/>
                <xs:element ref="closureQuery"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="closureQuery" type="closureQueryType">
        <xs:unique name="queryClosureUUIDKey">
            <xs:selector xpath="c:closure"/>
            <xs:field xpath="c:uuid"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="closureQueryType">
        <xs:sequence>
            <xs:element name="closure" type="uuidType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uuidType">
        <xs:sequence>
            <xs:element ref="uuid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="closure" type="closureType"/>

    <xs:complexType name="closureType">
        <xs:sequence>
            <xs:element ref="uuid"/>
            <xs:element name="documentClosureStatus" type="closureStatusType"/>
            <xs:element name="descriptionClosureStatus" type="closureStatusType"/>
            <xs:element name="closureType" type="closureTypeType"/>
            <xs:element name="closureCode" type="closureCodeType"/>
            <xs:element name="closurePeriod" type="closurePeriodType"/>
            <xs:element name="openingDate" type="openingDateType"/>
            <xs:element name="author" type="authorType" minOccurs="0"/>
            <xs:element name="exemptionCode" type="exemptionCodeType" minOccurs="0"/>
            <xs:element name="exemptionAsserted" type="exemptionAssertedType" minOccurs="0"/>
            <xs:element name="descriptionAlternate" type="descriptionAlternateType" minOccurs="0"/>            
        </xs:sequence>
        <xs:attribute name="resourceType" type="resourceTypeType" use="required"/>
    </xs:complexType>
    
    <xs:simpleType name="resourceTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DeliverableUnit"/>
            <xs:enumeration value="File"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="uuid" type="api:simpleUuidType"/>

    <xs:simpleType name="closureStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="CLOSED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="closureTypeType">
        <xs:annotation>
            <xs:documentation>This type records, in code form, the type of closure of an entity (e.g. deliverable unit).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>Open on transfer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation>Closed, for review in</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation>Retained until</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
                <xs:annotation>
                    <xs:documentation>Closed for</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="I">
                <xs:annotation>
                    <xs:documentation>Open immediately</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
                <xs:annotation>
                    <xs:documentation>Normal closure</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="R">
                <xs:annotation>
                    <xs:documentation>Retained by department</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation>Retained by department under section 3.4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T">
                <xs:annotation>
                    <xs:documentation>Temporarily retained by department</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="U">
                <xs:annotation>
                    <xs:documentation>Closed until</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="V">
                <xs:annotation>
                    <xs:documentation>Closed whilst access is reviewed</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="W">
                <xs:annotation>
                    <xs:documentation>Reclosed in</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="X">
                <xs:annotation>
                    <xs:documentation>Unknown/unspecified</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="exemptionCodeType">
        <xs:annotation>
            <xs:documentation>
                Freedom of Information Act 2000 - Exemption Codes: 
                23 - Information supplied by, or relating to, bodies dealing with security matters
                24 - National security
                26 - Defence
                27(1) - International Relations - prejudice
                27(2) - International Relations - Information Provided in Confidence
                28 - Relations within the UK
                29 - The Economy
                30(1) - Criminal Investigations and proceedings
                30(2) - Relating to civil or criminal investigations and proceedings which use confidential sources
                31 - Law enforcement
                32 - Court Records
                33 - Audit Functions
                34 - Parliamentary privilege
                35(1)(a) - Formulation of Government Policy
                35(1)(b) - Ministerial communications
                35(1)(c) - Law Officer's advice
                35(1)(d) - Operation of Ministerial Private Office
                36 - Prejudice of effective conduct of public affairs
                37(1)(a) - Communications with the Sovereign
                37(1)(a)old - Communications with Royal Family and Household (pre 2010 CRAG amendment)
                37(1)(aa) - Communications with the heir or second in line of succession to the throne
                37(1)(ac) - Communications with other members of the Royal Family
                37(1)(ad) - Communications with the Royal Household
                37(1)(b) - Honours
                38 - Health and Safety
                39 - Environmental Information
                40(2) - Personal information where the applicant is a 3rd party
                41 - Information provided in confidence
                42 - Legal Professional privilege
                43 - Commercial Interests
                44 - Prohibitions on disclosure 
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="section_23"/>
            <xs:enumeration value="section_24"/>
            <xs:enumeration value="section_26"/>
            <xs:enumeration value="section_27_1"/>
            <xs:enumeration value="section_27_2"/>
            <xs:enumeration value="section_28"/>
            <xs:enumeration value="section_29"/>
            <xs:enumeration value="section_30_1"/>
            <xs:enumeration value="section_30_2"/>
            <xs:enumeration value="section_31"/>
            <xs:enumeration value="section_32"/>
            <xs:enumeration value="section_33"/>
            <xs:enumeration value="section_34"/>
            <xs:enumeration value="section_35_1_a"/>
            <xs:enumeration value="section_35_1_b"/>
            <xs:enumeration value="section_35_1_c"/>
            <xs:enumeration value="section_35_1_d"/>
            <xs:enumeration value="section_36"/>
            <xs:enumeration value="section_37_1_a"/>
            <xs:enumeration value="section_37_1_a_old"/>
            <xs:enumeration value="section_37_1_aa"/>
            <xs:enumeration value="section_37_1_ac"/>
            <xs:enumeration value="section_37_1_ad"/>
            <xs:enumeration value="section_37_1_b"/>
            <xs:enumeration value="section_38"/>
            <xs:enumeration value="section_39"/>
            <xs:enumeration value="section_40_2"/>
            <xs:enumeration value="section_41"/>
            <xs:enumeration value="section_42"/>
            <xs:enumeration value="section_43"/>
            <xs:enumeration value="section_44"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="closureCodeType">
        <xs:union memberTypes="closureCodeYearType closureCodeYearPeriodType closureCodeEmptyType"/>
    </xs:simpleType>

    <xs:simpleType name="closureCodeYearType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="closureCodeYearPeriodType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="closureCodeEmptyType">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="openingDateType">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>

    <xs:simpleType name="authorType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="descriptionAlternateType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="exemptionAssertedType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    
    <xs:simpleType name="closurePeriodType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    
</xs:schema>
